.main {
	font-family: Verdana;

}

.div {

}

.hero{

}
img {

}

ca 
background: rgb(69,104,220);
background: linear-gradient(275deg, rgba(69,104,220,1) 0%, rgba(176,106,179,1) 100%);

iren man
background: rgb(229,45,39);
background: linear-gradient(275deg, rgba(229,45,39,1) 0%, rgba(179,18,23,1) 100%);

widow
background: rgb(0,0,0);
background: linear-gradient(275deg, rgba(0,0,0,1) 0%, rgba(97,4,95,1) 100%);

spider
background: rgb(229,45,39);
background: linear-gradient(275deg, rgba(229,45,39,1) 0%, rgba(0,0,0,1) 100%);